@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Zx Challenge</title>
</head>
<body>
    <p>Hello world from CI/CD! <strong>Twice!!!!</strong></p>
    <ul>
        <li><a href="~/api/pdv">/api/pdv - Lista PDV's</a></li>
        <li><a href="~/api/pdv/1">/api/pdv/1 - Lista PDV por id</a></li>
        <li>POST /api/pdv - Cria PDV</li>
        <li><a href="~/api/pdv/closest?lon=-43,297355&lat=-23,013529">api/pdv/closest?lat=-49,334253&lon=-25,380995 - Lista PDV mais próximo</a></li>
    </ul>
</body>
</html>